<h3>Life cycle child component</h3>

@foreach (string eventType in LifeCycleEvents)
{
    <p>@eventType</p>
    <hr />
}

@code 
{
    [Parameter] public int CountValue { get; set; }

    List<string> LifeCycleEvents = new List<string>();

    protected override void OnInitialized()
    {
        LifeCycleEvents.Add("Called OnInitialized on child component");
    }

    protected override void OnParametersSet()
    {
        LifeCycleEvents.Add($"Called OnParametersSet on child component. Current CountValue: {CountValue}");
    }
}
