<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<!-- Targets: where to log to -->
	<targets>
		<!-- Log to file (Info+) -->
		<target xsi:type="File"
				name="logfile"
				fileName="d:\Logs\RestaurantAPI\app-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}"
				archiveFileName="d:\Logs\RestaurantAPI\archives\app.{#}.log"
				archiveEvery="Day"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false" />

		<!-- Log all levels to a separate file -->
		<target xsi:type="File"
				name="allfile"
				fileName="d:\Logs\RestaurantAPI\all-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}"
				archiveFileName="d:\Logs\RestaurantAPI\archives\all.{#}.log"
				archiveEvery="Day"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false" />

		<!-- Log RestaurantAPI.* to a separate file -->
		<target xsi:type="File"
				name="restaurantAPIExceptions"
				fileName="d:\Logs\RestaurantAPI\restaurantAPIExceptions-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}"
				archiveFileName="d:\Logs\RestaurantAPI\archives\restaurantAPIExceptions.{#}.log"
				archiveEvery="Day"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false" />
		
		<!-- Request time logs to a seperate file-->
		<target xsi:type="File"
				name="request-time"
				fileName="d:\Logs\RestaurantAPI\request-time-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}"
				archiveFileName="d:\Logs\RestaurantAPI\archives\request-time.{#}.log"
				archiveEvery="Day"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false" />

		<!-- Log to console -->
		<target xsi:type="Console"
				name="logconsole"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}" />
	</targets>

	<!-- Rules: how to route log messages -->
	<rules>
		<!-- All logs to file and console (Info+) -->
		<logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
		<!-- All logs to allfile (Trace+) -->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<!-- RestaurantAPI.* logs to restaurantAPI (Error+) -->
		<logger name="RestaurantAPI.*" minlevel="Error" writeTo="restaurantAPIExceptions" />
		<!-- Request time exceptions (Error+) -->
		<logger name="RestaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time"/>
	</rules>
</nlog>